/* Global
============================================================= */

@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/Roboto-Regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html {
	font-family: 'Roboto';
	background-color: rgb(30, 31, 32);
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* Workspace
============================================================= */

.workspace {
	flex: 1 0 auto;
}

.row {
	background-color: rgb(30, 31, 32);
	border-bottom: 1px solid rgb(38, 40, 42);
	padding: 12px 16px;
	cursor: text;
}

.row.active {
	background-color: rgb(24, 25, 26);
}

.textarea {
	display: block;
	height: 24px;
	width: 100%;
	resize: none;
	overflow: hidden;
	font-size: 16px;
	line-height: 24px;
	cursor: text;
}

.textarea:focus {
	outline: none;
}

.textarea.input {
	text-align: left;
	color: rgb(223, 223, 223);
}

.textarea.input::selection {
	background-color: rgb(223, 223, 223);
	color: rgb(24, 25, 26);
}

.textarea.output {
	text-align: right;
	color: rgb(55, 175, 95);
}

.textarea.output::selection {
	background-color: rgb(55, 175, 95);
	color: rgb(24, 25, 26);
}

/* Footer
============================================================= */

.footer {
	flex: none;
	padding: 16px;
}

.update-ready {
	font-size: 12px;
	line-height: 12px;
	font-weight: 500;
	letter-spacing: .25px;
	background-color: rgb(191, 191, 191);
	color: rgb(30, 31, 32);
	border-radius: 4px;
	cursor: pointer;
	padding: 6px 8px;
}

.update-ready:hover {
	background-color: rgb(223, 223, 223);
}

.update-ready:focus {
	outline: 0;
}
