html {
	background-color: rgb(30, 31, 32);
}

.row {
	background-color: rgb(30, 31, 32);
	border-bottom: .125rem solid rgb(38, 40, 42);
	padding: .75rem 1rem;
}

.row.active {
	background-color: rgb(26, 27, 28);
}

.textarea {
	display: block;
	height: 1.5rem;
	width: 100%;
	resize: none;
	overflow: hidden;
	font-size: 1rem;
	line-height: 1.5rem;
}

.textarea:focus {
	outline: none;
}

.textarea.input {
	text-align: left;
	color: rgb(223, 223, 223);
}

.textarea.output {
	text-align: right;
	color: rgb(55, 175, 95);
}
