html {
	background-color: rgb(30, 31, 32);
}

body {
	overflow: hidden;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(38, 39, 40);
	-webkit-app-region: drag;
	-webkit-user-select: none;
}

.title {
	font-size: 14px;
	color: rgb(159, 159, 159);
}

.main {
	margin-top: 32px;
}

input {
	width: 100%;
	height: 64px;
	font-size: 18px;
	padding: 0 18px;
}

input:focus {
	outline: none;
}

.input {
	text-align: left;
	color: rgb(223, 223, 223);
	background-color: rgb(30, 31, 32);
}

.output {
	text-align: right;
	color: rgb(55, 175, 95);
	background-color: rgb(22, 23, 24);
}
