:root {
	--color-gray-15: hsla(225, 6.25%, 100%, 1);
	--color-gray-14: hsla(225, 6.25%, 93.75%, 1);
	--color-gray-13: hsla(225, 6.25%, 87.5%, 1);
	--color-gray-12: hsla(225, 6.25%, 81.25%, 1);
	--color-gray-11: hsla(225, 6.25%, 75%, 1);
	--color-gray-10: hsla(225, 6.25%, 62.5%, 1);
	--color-gray-09: hsla(225, 6.25%, 56.25%, 1);
	--color-gray-08: hsla(225, 6.25%, 50%, 1);
	--color-gray-07: hsla(225, 6.25%, 43.75%, 1);
	--color-gray-06: hsla(225, 6.25%, 37.5%, 1);
	--color-gray-05: hsla(225, 6.25%, 31.25%, 1);
	--color-gray-04: hsla(225, 6.25%, 25%, 1);
	--color-gray-03: hsla(225, 6.25%, 18.75%, 1);
	--color-gray-02: hsla(225, 6.25%, 12.5%, 1);
	--color-gray-01: hsla(225, 6.25%, 6.25%, 1);
	--color-gray-00: hsla(225, 6.25%, 0%, 1);

	--color-jade: hsla(135, 50%, 50%, 1);
	--color-ruby: hsla(360, 50%, 50%, 1);
}

html {
	box-sizing: border-box;
	font-family: BlinkMacSystemFont, 'Segoe UI', sans-serif;
	font-size: 100%;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	background-color: var(--color-gray-02);
	overflow: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	background: transparent;
}

*:focus {
	outline: none;
}

::selection {
	background-color: var(--color-jade);
	color: var(--color-gray-11);
}

::placeholder {
	color: var(--color-gray-06);
	opacity: 1;
}

.modal {
	background-color: var(--color-gray-02);
}

.modal__box {
	position: relative;
}

.modal__icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 64px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-app-region: drag;
}

.modal__svg {
	fill: var(--color-gray-06);
	width: 26px;
	height: 26px;
}

.modal__field {
	width: 100%;
	height: 64px;
	font-size: 18px;
	cursor: text;
}

.modal__expression {
	text-align: left;
	padding: 0 19px 0 64px;
	color: var(--color-gray-11);
}

.modal__result {
	text-align: right;
	padding: 0 19px 0 19px;
	color: var(--color-jade);
}

.modal__result[data-is-error='true'] {
	color: var(--color-ruby);
	font-style: italic;
}

.update-button {
	position: fixed;
	top: 0;
	right: 0;
	background-color: var(--color-gray-06);
	color: var(--color-gray-02);
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .5px;
	padding: 3px 5px;
	border-radius: 0 0 0 5px;
}

.update-button:hover {
	background-color: var(--color-gray-11);
}
