:root {
	--color-pearl: rgb(191, 191, 191);
	--color-jade: rgb(55, 175, 95);
	--color-ruby: rgb(175, 55, 95);
	--color-stone: rgb(54, 55, 56);
	--color-jet: rgb(18, 19, 20);
}

html {
	box-sizing: border-box;
	font-family: BlinkMacSystemFont, "Segoe UI", sans-serif;
	font-size: 100%;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	background-color: var(--color-jet);
	overflow: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	background: transparent;
}

*:focus {
	outline: none;
}

::selection {
	background-color: var(--color-jade);
	color: var(--color-pearl);
}

.modal {
	background-color: var(--color-jet);
}

.modal__box {
	position: relative;
}

.modal__icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 64px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-app-region: drag;
}

.modal__svg {
	fill: var(--color-stone);
	width: 26px;
	height: 26px;
}

.modal__field {
	width: 100%;
	height: 64px;
	font-size: 18px;
	cursor: text;
}

.modal__expression {
	text-align: left;
	padding: 0 19px 0 64px;
	color: var(--color-pearl);
}

.modal__result {
	text-align: right;
	padding: 0 19px 0 19px;
	color: var(--color-jade);
}

.modal__result[data-is-error="true"] {
	color: var(--color-ruby);
	font-style: italic;
}

.update-button {
	position: fixed;
	top: 0;
	right: 0;
	background-color: var(--color-stone);
	color: var(--color-jet);
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .5px;
	padding: 3px 5px;
	border-radius: 0 0 0 5px;
}

.update-button:hover {
	background-color: var(--color-pearl);
}
